<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weer in Chili</title>
    <link rel="stylesheet" href="/style.css"> <!-- Link naar de stylesheet -->
</head>
<body>

        <div class="foto"><img src="https://scontent-ams2-1.xx.fbcdn.net/v/t39.30808-6/255969896_10159842312753184_1763180640886805150_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=536f4a&_nc_ohc=6lc-qjbpyisQ7kNvgHuvsv0&_nc_oc=AdmbOvZKLp0lNLs3XvKNa-24k23QOt-qLfzos67lU-m5ENnT75uLRC4Y0TkXGi3Qa-tP_44GWwynvmSC3vPFlKIt&_nc_zt=23&_nc_ht=scontent-ams2-1.xx&_nc_gid=fAsxs9FlUAVSoksgHrzd3w&oh=00_AYFZ0VAeFNsgfnmgjB6mUtDWCgI0Cbb6HTFG6XU87mSWvw&oe=67EDE32D"></div>
    
        <div class="weerinfo">
    
       <h1>Het weer in Valparaiso, Chili</h1>

    <% if (weather) { %>
        <p><strong>Temperatuur:</strong> <%= weather.main.temp %>°C</p>
        <p><strong>Weer:</strong> <%= weather.weather[0].description %></p>
        <p><strong>Windsnelheid:</strong> <%= weather.wind.speed %> m/s</p>
        <p><strong>Luchtvochtigheid:</strong> <%= weather.main.humidity %> %</p>
    <% } else { %>
        <p>Er is geen weerinformatie beschikbaar.</p>
    <% } %>

    </div>


</body>
</html>
