* {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/office.jpg");
    background-position: center;

}

.kleur {
    background-color: rgba(232, 243, 255, 0.9);
    padding: 10px;
    margin-top: 100px;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.dropdown {
    margin-bottom: rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown p {
    font-weight: bold;
    margin-right: 15px;
}

.dropdown select {
    font-weight: bold;
    font-size: 1rem;
    color: black;
    border-radius: 30px;
    border: 3px solid #4395c5;
    padding: 8px;
    transition: border-color 0.3s;
}

.dropdown select:focus {
    border-color: #4395c5;
}

.dropdown option[disabled] {
    color: black;
}

.scrummasterwrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    min-width: 500px;
    z-index: 1;
}

div img {
    width: 13rem;
    z-index: 999999;
}

.speechwrapper {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.speechbubble {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 300px;
    align-self: flex-start;

}

#quote {
    padding: 20px;
    text-align: center;
}

button {
    width: 130px;
    height: 50px;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid #4395c5;
}

.pressed {
    color: gray;
    background-color: lightgrey;
}

@media (max-width: 842px) {
    .kleur {
        width: 80%;
        margin-top: 30px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown p {
        margin-bottom: 15px;
        text-align: center;
    }

    .scrummasterwrap {
        min-width: 80%;
        flex-direction: column;
        align-items: center;
    }

    div img {
    width: 180px;
    margin: 15px;
    }

    .speechbubble {
        width: 250px;
    }

    button {
        margin-top: 30px;
    }
}