body {
  margin: 0;
  background-image: url(https://www.wigglywigglers.co.uk/cdn/shop/files/Screenshot2023-10-15at08.02.46_grande.jpg?v=1697353634);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  color: brown;
  font-family: Arial;
  font-size: 16px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description {
  color: rgb(213, 136, 136);
}

fieldset {
  border: 0;
  background-color: pink;
  opacity: 0.8;
  border-radius: 15px;
  padding: 2rem;
}

.vraag {
  font-weight: bold;
}

h1  {
    text-align: center;
    padding-top: 2rem;
}

p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.vraag {
  display: block;
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.rondjes {
  display:block;
  margin: 0.5rem 0;
  padding-left: 2.5rem;
}

.vakjes {
  margin-left: 3rem;
}

input[type="text"], input[type="email"] {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 4px;
}

input[type="number"] {
  width: 20%;
  margin: 10px 0 0 10px;
  padding: 4px;
}

textarea {
  width: 100%;
  margin-top: 10px;
  padding: 4px;
}

select {
  width: 40%;
  margin: 10px 0 0 0;
  display: block;
  padding: 4px;
}

hr {
  border-width: 0;
}

form {
  width: 80vw;
}
button {
  display: block;
  width: 60%;
  margin: 2em auto;
  height: 2em;
  font-size: 1.1rem;
  color: brown;
  background-color: white;
  border-color: brown;
  min-width: 300px;
}

input::placeholder, 
textarea::placeholder, #dropdown {
    font-family: "Arial";
    color: rgb(95, 95, 95);
    font-size: 1rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.3rem;
    padding-top: 1rem;
  }

  #description {
    font-size: 0.8rem;
    margin-top: 0px;
  }

fieldset {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

form {
  width: 100%;
  padding: 0 10px;
}

.vraag, .rondjes {
  font-size: 1.3rem;
}

.vakjes + label {
  font-size: 1.3rem;
}

.vraag {
  padding: 0px;
}

.rondjes {
  padding-left: 15px;
}

.vakjes {
  margin-left: 15px;
}

input, input::placeholder, textarea::placeholder, #dropdown {
  font-size: 1rem;
}

input[type="number"] {
  width: 100%;
  margin-left: 0px;
}

select {
  width: 100%;
}

button {
  font-size: 1.3rem;
  min-width: 70px;
}

#bright, #bright + label, #big, #big + label {
  display: none;
}

}