body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Zorg ervoor dat scrollbars niet verschijnen */

}

.foto {
    padding: 2rem;
}

.weerinfo {
    padding: 1rem;
}

img {
    width: 400px;
    border-radius: 50%;

}